<!-- ios button: show/hide panel -->
<div class="jplist-ios-button">
    <i class="fa fa-sort"></i>
    jPList Actions
</div>
<!-- panel -->
<div class="jplist-panel box panel-top">
    <div class="jplist-label" data-type="Page {current} of {pages}" data-control-type="pagination-info"
         data-control-name="paging"
         data-control-action="paging">
    </div>

	<div class="jplist-pagination" data-control-type="pagination" data-control-name="paging" data-control-action="paging"
         data-items-per-page="20">
    </div>
</div>