{% load staticfiles %}

<!-- jPList Core -->
<script src="{%  static 'iva/js/jplist.core.min.js' %}"></script>
<link href="{%  static 'iva/css/jplist.core.min.css' %}" rel="stylesheet" type="text/css" />

<!-- jPList Sort Bundle -->
<script src="{%  static 'iva/js/jplist.sort-bundle.min.js' %}"></script>

<!-- jPList Pagination Bundle -->
<script src="{%  static 'iva/js/jplist.pagination-bundle.min.js' %}"></script>

<!-- Textbox Filter Control -->
<script src="{%  static 'iva/js/jplist.textbox-filter.min.js' %}"></script>
<link href="{%  static 'iva/css/jplist.textbox-filter.min.css' %}" rel="stylesheet" type="text/css" />